@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.fit-content {
  width: fit-content;
}

.navbar-brand {
  width: 4rem;
}

@media only screen and (max-width: 990px) {
  .fit-content {
    width: 100%;
  }
}
